$space-large: 2.5rem;
$title-color: #555;

.page-title{
	margin-top: $space-large;
	margin-bottom: $space-large;
	color: $title-color;
}

/* select all inputs where type is equal to search */
input[type=search] {
	box-shadow: none;
}
